flask
flask_cors
nemo_toolkit[all]>=1.0.0rc1
protobuf>=5.29.6 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
