boto3
einops
faiss-cpu
fasttext
flask_restful
ftfy
gdown
gradio
h5py
ijson
inflect
jieba
matplotlib>=3.3.2
nltk>=3.6.5
numpy
opencc
pangu
rapidfuzz
sacrebleu[ja]
sentence_transformers
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
flask>=2.2.5 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.3 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.21.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability
